@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply scroll-smooth;
    }
  }
body {
    font-family: 'Poppins', sans-serif;
}
.link {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#29b6f6, #0288d1)
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}
